__pycache__/about_us.cpython-313.pyc
__pycache__/extra.cpython-313.pyc
__pycache__/home.cpython-313.pyc
.mypy_cache
__pycache__/about_us.cpython-312.pyc
__pycache__/extra.cpython-312.pyc
__pycache__/home.cpython-312.pyc
